.sobre{
    background-image: url(/venturo-d10/static/imagens/banners/banner_criacao.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-image: url('/venturo-d10/static/imagens/bulletpoint.svg');
  }