.sobre{
    background-image: url(/static/imagens/banners/banner_devlog.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-image: url('/static/imagens/bulletpoint.svg');
  }