.sobre{
    background-image: url(../imagens/banners/banner_devlog.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-image: url('../imagens/bulletpoint.svg');
  }