.sobre{
    background-image: url("/static/imagens/banners/Banners_sobre.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-image: url('/static/imagens/bulletpoint.svg');
  }